@font-face {
    font-family: 'AmazonEmberBold';
    src: url('../assets/fonts/AmazonEmberBold.ttf') format('truetype');
}

@font-face {
    font-family: 'AmazonEmberRegular';
    src: url('../assets/fonts/AmazonEmberRegular.ttf') format('truetype');
}

:root {
    --spacingUnit: 8px;
    --primary: #0072C6;
    --secondary: #1E1E1E;
    --bodyTextColor: #FFFFFF;
    --bodyBackgroundColorLight: #2B2B2B;
    --bodyBackgroundColorDark: #1E1E1E;
    --fontSize: 16px;
    --sectionPadding: 60px 16px; 

    --codeBackgroundColor: #2b2b2b;
    --codeTextColor: #a9b7c6;
    --codeBorderColor: #3c3f41;
    --codeLineNumberColor: #858585;
    --codeCopyButtonBackgroundColor: #333333;
    --codeCopyButtonText: #fff;
}

body {
    font-family: 'AmazonEmberRegular';
    line-height: 1.5;
    color: var(--bodyTextColor);
    background-color: var(--bodyBackgroundColor);
    font-size: var(--fontSize);
    margin: 0;
    padding: 0;
}

.jrxna-title {
    font-family: 'AmazonEmberBold';
    font-size: 40px;
    text-align: inherit; 
    color: var(--headerColor);
    margin: 0 0 8px 0; 
    line-height: normal;
}

.jrxna-subtitle {
    font-family: 'AmazonEmberBold';
    font-size: 24px;
    text-align: inherit; 
    color: var(--headerColor);
}

.jrxna-text {
    font-size: 16px; 
    text-align: inherit;
    width: 100%;
    margin: 0 0 16px 0; 
    color: var(--bodyTextColor);
}

.jrxna-content {
	max-width: 1024px;
	margin: 0 auto;
    padding: 0 calc(2 * var(--spacingUnit));
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1280px) {
        padding: 0;
    };
} 