@font-face {
    font-family: 'Fira';
    src: url('../assets/fonts/Fira.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraBold';
    src: url('../assets/fonts/FiraBold.woff2') format('woff2');
}

:root {
    --spacingUnit: 8px;
    --primary: #0088FF;
    --secondary: #FFC11C;
    --bodyTextColor: #FFFFFF;
    --bodyTextColorDark: #1E1E1E;
    --bodyBackgroundColorLight: #2B2B2B;
    --bodyBackgroundColorDark: #1E1E1E;
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --fontSize: 16px;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

    --codeBackgroundColor: #2b2b2b;
    --codeTextColor: #a9b7c6;
    --codeBorderColor: #3c3f41;
    --codeLineNumberColor: #858585;
    --codeCopyButtonBackgroundColor: #333333;
    --codeCopyButtonText: #fff;
}

body {
    font-family: 'Fira';
    color: var(--bodyTextColor);
    background-color: var(--bodyBackgroundColor);
    font-size: var(--fontSize);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'FiraBold';
}


.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}
