@font-face {
    font-family: 'JetBrainsMono';
    src: url('../assets/fonts/JetBrainsMono.ttf') format('truetype');
}

:root {
    --spacingUnit: 8px;
    --primary: #EE0000;
    --secondary: #1E1E1E;
    --bodyTextColor: #FFFFFF;
    --bodyBackgroundColorLight: #2B2B2B;
    --bodyBackgroundColorDark: #1E1E1E;
    --headerFontSize: 49px;
    --fontSize: 16px;
    --sectionPadding: 60px 16px; 

    --codeBackgroundColor: #2b2b2b;
    --codeTextColor: #a9b7c6;
    --codeBorderColor: #3c3f41;
    --codeLineNumberColor: #858585;
    --codeCopyButtonBackgroundColor: #333333;
    --codeCopyButtonText: #fff;
}

body {
    font-family: 'JetBrainsMono';
    color: var(--bodyTextColor);
    background-color: var(--bodyBackgroundColor);
    font-size: var(--fontSize);
    margin: 0;
    padding: 0;
}


.cs-topper {
    font-size: 14px; 
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    color: var(--primary);
    margin-bottom: 4px;
    display: block;
}

.jrxna-title {
    font-size: 40px;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 600px; 
    margin: 0 0 16px 0; 
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: 16px; 
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 600px; 
    margin: 0;
    color: var(--bodyTextColor);
}
