.jrxna-dual-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jrxna-dual-content .jrxna-card {
	max-width: 1024px;
	margin: calc(2 * var(--spacingUnit)) calc(2 * var(--spacingUnit)) 0;
	padding: calc(2 * var(--spacingUnit));
	gap: calc(2 * var(--spacingUnit));
	background-color: var(--bodyBackgroundColorLight);
	border: 1px solid var(--borderColor);
	border-radius: var(--spacingUnit);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jrxna-dual-content .jrxna-hero-card {
	margin: calc(14 * var(--spacingUnit)) calc(2 * var(--spacingUnit)) 0;
}

.jrxna-dual-content .jrxna-dual-content-text {
	text-align: left;
	height: 100%;
	width: 100%;
}

.jrxna-dual-content .cs-ul {
	width: 100%;
	padding: calc(2 * var(--spacingUnit)) 0 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
}

.jrxna-dual-content .numbers {
	padding: calc(2 * var(--spacingUnit)) 0 0;
}

.jrxna-dual-content .cs-item {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 30%;
	display: flex;
	flex-direction: column;
}

.jrxna-dual-content .cs-number {
	font-size: 24px;
	font-family: 'AmazonEmberBold';
	margin: 0;
	padding: 0;
	text-align: left;
	color: var(--primary);
	display: block;
}

.jrxna-dual-content .cs-h3 {
	font-family: 'AmazonEmberBold';
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: var(--bodyTextColorDark);
}

.jrxna-dual-content .jrxna-dual-content-image {
	aspect-ratio: 1 / 1;
	width: 100%;
	position: relative;
	display: block;
}

.jrxna-dual-content .jrxna-dual-content-image img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: var(--spacingUnit);
	object-fit: cover;
}

#jrxna-academy,
#jrxna-blog {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#jrxna-academy .jrxna-content,
#jrxna-blog .jrxna-content {
	max-width: 1024px;
	margin: calc(2 * var(--spacingUnit)) calc(2 * var(--spacingUnit)) 0;
	padding: 0;
}

#jrxna-academy .title-group,
#jrxna-blog .title-group {
	margin: 0 0 0 var(--spacingUnit);
}

#jrxna-academy .cs-item {
	list-style: none;
	padding: calc(2 * var(--spacingUnit));
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-column: span 12;
	background-color: var(--bodyBackgroundColorLight);
	border: 1px solid var(--borderColor);
	border-radius: var(--spacingUnit);
}

#jrxna-academy .cs-popular {
	position: relative;
	overflow: hidden;
	order: -1;
}

#jrxna-academy .cs-popular:before {
	content: "Popular";
	font-size: 16px;
	font-family: 'AmazonEmberBold';
	text-align: center;
	width: 10.625rem;
	padding: 0 0.75rem;
	color: var(--bodyTextColorLight);
	background-color: var(--primary);
	position: absolute;
	display: block;
	top: 1.25rem;
	right: -3.75rem;
	transform: rotate(42deg);
}

#jrxna-academy .cs-h3 {
	padding: 0 calc(7 * var(--spacingUnit)) calc(2 * var(--spacingUnit)) 0;
	font-size: 16px;
	font-family: 'AmazonEmberBold';
}

#jrxna-academy .cs-ul {
	padding: calc(2 * var(--spacingUnit)) 0;
	margin: 0;
}

#jrxna-academy .jrxna-list-item {
	display: flex;
	justify-content: flex-start;
	padding: var(--spacingUnit) calc(2 * var(--spacingUnit)) 0 0;
	font-size: 16px;
	list-style: none;
	margin: 0;
	color: var(--bodyTextColorDark);
}

#jrxna-academy .jrxna-list-item:last-of-type {
	margin-bottom: 0;
}

#jrxna-academy .jrxna-list-item-img {
	width: 24px;
	height: auto;
	margin-right: var(--spacingUnit);
}

#jrxna-blog .cs-card-group {
	max-width: 1024px;
	padding: 0 0 calc(2 * var(--spacingUnit));
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: calc(2 * var(--spacingUnit));
}

#jrxna-academy .cs-card-group {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: calc(2 * var(--spacingUnit));
}

#jrxna-blog .cs-item {
	list-style: none;
	display: flex;
	grid-column: span 12;
	border-radius: var(--spacingUnit);
}

#jrxna-blog .cs-item:hover .cs-icon-wrapper {
	border-radius: 48px;
}

#jrxna-blog .cs-item:hover .cs-icon {
	transform: rotate(45deg);
}

#jrxna-blog .jrxna-list-itemnk {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#jrxna-blog .cs-item-text {
	padding: calc(2 * var(--spacingUnit));
	background-color: var(--bodyBackgroundColorLight);
	border: 1px solid var(--borderColor);
	border-radius: var(--spacingUnit);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: calc(2 * var(--spacingUnit));
	flex-grow: 1;
	transition: background 0.3s;
}

#jrxna-blog .blog-title {
	font-size: 16px;
	font-family: 'AmazonEmberBold';
	text-align: left;
	margin: 0;
	color: var(--bodyTextColorDark);
	display: flex;
	justify-content: space-between;
	gap: var(--spacingUnit);
}

#jrxna-blog .cs-icon-wrapper {
	width: 48px;
	height: 48px;
	background-color: var(--bodyBackgroundColorDark);
	border-radius: var(--spacingUnit);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	transition: border-radius 0.3s;
}

#jrxna-blog .cs-icon {
	width: auto;
	height: 16px;
	transition: transform 0.3s;
}

#jrxna-blog .cs-info {
	color: var(--bodyTextColorDark);
	flex-direction: column;
}

#jrxna-blog .cs-info .content {
	padding: calc(2 * var(--spacingUnit)) 0 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#jrxna-blog .cs-date {
	font-size: 16px;
	line-height: 1.5em;
	text-align: left;
	color: var(--bodyTextColorDark);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: color 0.3s;
}

#jrxna-blog .cs-category {
	font-size: 16px;
	text-align: center;
	padding: 0.25rem 1rem;
	background-color: var(--bodyBackgroundColorDark);
	color: var(--bodyTextColorDark);
	border-radius: var(--spacingUnit);
	position: relative;
	z-index: 0;
	overflow: hidden;
	transition: color 0.3s;
}

#jrxna-footer {
	padding: calc(4 * var(--spacingUnit)) 0 calc(2 * var(--spacingUnit));
	background-color: var(--primary);
}

#jrxna-footer .cs-middle {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: calc(2 * var(--spacingUnit));
	padding: calc(2 * var(--spacingUnit)) 0;
}

#jrxna-footer .jrxna-container {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#jrxna-footer .jrxna-logo-wrapper {
	width: 100%;
}

#jrxna-footer .jrxna-logo img {
	width: 200px;
	height: auto;
	padding: 0 0 calc(2 * var(--spacingUnit)) 0;
}

#jrxna-footer .cs-top {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: calc(2 * var(--spacingUnit));
}

#jrxna-footer .cs-ul {
	margin: 0;
	padding: 0;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: calc(var(--spacingUnit));
	flex: none;
}

#jrxna-footer .jrxna-list-item {
	list-style: none;
	margin: 0;
	display: block;
}

#jrxna-footer .cs-header {
	font-family: 'AmazonEmberBold';
	margin: 0 0 var(--spacingUnit) 0;
	color: #fff;
	display: block;
}

#jrxna-footer .jrxna-list-itemnk {
	font-size: 16px;
	text-decoration: none;
	margin: 0;
	color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

#jrxna-footer .cs-block {
	display: block;
}

#jrxna-footer .cs-icon {
	width: 1.5rem;
	height: auto;
	margin: -0.0625rem 0.75rem 0 0;
}

#jrxna-footer .jrxna-nav {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: calc(2 * var(--spacingUnit));
}

#jrxna-footer .jrxna-nav-li {
	list-style: none;
	color: var(--bodyTextColorLight)
}

#jrxna-footer .jrxna-nav-link {
	font-size: 16px;
	text-decoration: none;
	margin: 0;
	color: var(--bodyTextColorWhite);
	position: relative;
}

#jrxna-footer .cs-social {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(2 * var(--spacingUnit));
}

#jrxna-footer .cs-social-li {
	list-style: none;
}

#jrxna-footer .cs-social-link {
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#jrxna-footer .cs-social-icon {
	width: 24px;
	height: auto;
	display: block;
	filter: invert(100%);

}

#jrxna-footer .cs-copyright {
	font-size: 16px;
	padding: calc(2 * var(--spacingUnit)) 0 0;
	text-align: center;
	color: var(--bodyTextColorLight)
}

#jrxna-footer .footer-text {
	color: var(--bodyTextColorLight);
	margin: 0 0 calc(2 * var(--spacingUnit)) 0;
}


@media only screen and (min-width: 1024px) {
	.jrxna-dual-content .jrxna-card {
		flex-direction: row;
	}

	.jrxna-dual-content .jrxna-dual-content-text {
		width: 50%;
	}

	.jrxna-dual-content {
		flex-direction: row;
	}

	.jrxna-dual-content .jrxna-dual-content-image {
		width: 50%;
	}

	#jrxna-academy .cs-item {
		grid-column: span 4;
	}

	#jrxna-academy .cs-popular {
		order: unset;
	}

	#jrxna-blog .cs-item {
		grid-column: span 4;
	}

	#jrxna-academy .cs-card-group,
	#jrxna-blog .cs-card-group {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	#jrxna-footer .cs-middle {
		flex-direction: row;
	}

	#jrxna-footer .jrxna-logo-wrapper {
		width: 50%;
	}
}


/* Code Snippets and Syntax Highlighting */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #808080;
}

.token.punctuation {
	color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted,
.token.keyword,
.token.selector {
	color: #cc7832;
}

.token.string,
.token.attr-name,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
	color: #6A8759;
}

.token.class-name,
.token.function {
	color: #ffc66d;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	color: #d4d4d4;
}

.token.atrule,
.token.attr-value {
	color: #c586c0;
}

.token.regex,
.token.important {
	color: #d16969;
}

.token.bold {
	font-family: 'JetBrainsMonoBold';
}

.token.italic {
	font-style: italic;
}

.copy-to-clipboard-button {
	position: absolute;
	top: calc(1 * var(--spacing-unit));
	right: calc(1 * var(--spacing-unit));
	color: var(--code-copy-button-text);
	background-color: var(--code-copy-button-bg);
	padding: calc(0.5 * var(--spacing-unit)) calc(1 * var(--spacing-unit)) !important;
	cursor: pointer;
	font-size: 16px;
	border: none;
}

.copy-to-clipboard-button:hover {
	background-color: #444;
}

pre {
	background-color: var(--code-bg-color);
	color: var(--code-text-color);
	border: 1px solid var(--code-border-color);
	border-radius: 5px;
	position: relative;
	overflow: auto;
	box-sizing: border-box;
}

pre code[class*="language-"] {
	font-family: 'Cascadia', monospace;
	font-size: 16px !important;
	display: inline-block;
	padding-right: calc(1 * var(--spacing-unit));
	box-sizing: border-box;
}

pre .line-numbers-rows {
	position: absolute;
	top: calc(1 * var(--spacing-unit));
	width: calc(5 * var(--spacing-unit)) !important;
	color: var(--code-line-number-color);
}

@media only screen and (min-width: 384px) {
	.jrxna-dual-content .cs-ul {
		flex-direction: row;
	}
}